body {
    margin: 25px;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .card-title, .burnFeedTitle {
	font-family: 'Roboto', sans-serif;
}

.form-group > label {
    font-weight: bold;
}

#divLoading {
    position:fixed; width: 100%;
    background-color: LightBlue;
    text-align: center;
	left: 0;
}

.currentName {	
	background-color: LightBlue;
	background-image: url("../Images/chad-sprite.gif");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 25px;
	padding-left: 23px !important;
}

#currentName {
	text-align: center;
	margin: 3rem 0rem;
	border-radius: 1rem;
	background-color: #dee2e6;
}

	h1 {
		font-size: 3.5rem;
	}

	.lead {
		font-style: italic;
	}

.col, .col-sm {
	padding-left: 0;
	padding-right: 0;
}

.col {
	max-width: 48%;
	margin: 0 1%;
	display: inline-block;
	float: left;
}

.card {
	margin-bottom: 15px;
	width: 100%;
}
	.card-title {
		font-size: 1.5rem;
	}

.timer {
	width: 48%;
	margin: 0 1%;
    float: left;
	display: inline-block;
}

.nameKey {
	width: 98%;
	margin: 0 1%;
	display: inline-block;
}

.keydrop, .burndrop {
	display: none;
}

#nameKey {
	max-width: 100%;
	display: inline-block;
	float: left;
}

	.table {
		margin-bottom: 0;
	}
		.table td, .table th {
			padding: .6rem;
		}
		.table th {
			font-family: 'Roboto', sans-serif;
		}
		.table td {
			width: 50%;
		}

#postBurn {
	width: 98%;
	margin: 0 1%;
	display: inline-block;
}
	select {
	   -webkit-appearance: none; 
	   -moz-appearance: none;
	   appearance: none;       /* remove default arrow */
	   background-image: url("../Images/angle-down.png");   /* add custom arrow */
		background-repeat: no-repeat;
		background-position: right;
		background-size: 15px;
	}
	.divPostBurn .row {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
		.burn-col {
			margin-left: 4%;
		}
		select#ddlBurnee, select#ddlBurnType {
			height: 40px;
			width: 98%;
		}
	.burn-desc-col {
		max-width: 100%;
	}
		textarea {
			resize: none;
			height: 90px;
		}

	.form-group small {
		font-style: italic;
	}

.divBurnFeed {
	width: 98%;
	margin: 0 1%;
  float: left;
}

.burnFeedTitle {
	font-size: 1.5rem;
	margin-top: -8px;
  margin-bottom: 5px;
}

.list-group-item {
	margin-bottom: 10px;
}

table.table {
  border: 1px solid #AAAAAA;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.table td, table.table th {
  border: 1px solid #AAAAAA;
  padding: 3px 8px;
}
table.table tr:nth-child(even) {
  background: #EDEDED;
}
table.table thead {
  background: #D4D4D4;
  border-bottom: 2px solid #444444;
}
table.table thead th {
  font-weight: bold;
  border-left: 1px solid #AAAAAA;
}
table.table thead th:first-child {
  border-left: none;
}

@media only screen and (max-width: 999px) {
	.card-title {
		font-size: 1.1rem;
	}
	textarea {
		height: 80px;
	}
}

@media only screen and (max-width: 769px) {
	#currentName {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	
	.col, .nameKey, #postBurn {
		width: 100%;
		max-width: none;
		margin: 0 auto;
		flex-basis: unset;
	}
	
	.timer {
		width: 49%;
		margin: 0;
	}
	
	.timer-one {
		margin-right:2%;
	}
	
	.mb-3 {
		margin-bottom: 0 !important;
	}
	
	.keydrop, .burndrop {
		display: inline;
	}
	
	p.panel-title {
		margin-bottom: 0;
	}
	
	.panel-collapse {
		margin-top: .75rem;
	}
	
	select#ddlBurnee, select#ddlBurnType {
		width: 100%;
	}
	
	.burnFeedTitle {
		margin-top: 0;
	}
}

@media only screen and (max-width: 575px) {
	
	h1 {
		font-size: 2.5rem;
	}
	
	.lead {
		font-size: .8rem;
	}
	
	.burnFeedTitle {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 481px) {
	body {
		font-size: .9rem;
	}
	
	.card-title {
		font-size: .8rem;
	}
}